<ion-header>
  <ion-toolbar>
    <ion-title text-center>ترتيب حسب</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-radio-group (ionChange)="getorder()" [(ngModel)]="order_affect">
      <ion-item lines="none" >
        <ion-radio slot="end" value="low_rate"></ion-radio>
        <ion-label text-center text-primary><b>الأقل تقييما</b></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-radio slot="end" value="high_rate"></ion-radio>
        <ion-label text-center text-primary><b>الأعلى تقييما</b></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-radio slot="end" value="low_experience"></ion-radio>
        <ion-label text-center text-primary><b>الاقل خبرة</b></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-radio slot="end" value="high_experience"></ion-radio>
        <ion-label text-center text-primary><b>الأعلى خبرة</b></ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>