<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text='' color="light" defaultHref="/sections">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{usta?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="!usta">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="usta">
    <div class="container">
      <ion-slides [options]="slideOpts" *ngIf="!usta?.img_gallery">
        <ion-slide>
          <img src='assets/img/no.jpg' />
        </ion-slide>
      </ion-slides>
      <ion-slides [options]="slideOpts" *ngIf="usta?.img_gallery">
        <ion-slide *ngIf="!usta.img_gallery.length">
          <ion-img src='assets/img/no.jpg'></ion-img>
        </ion-slide>
        <ion-slide (click)="openBanner(i)" *ngFor="let banner of usta.img_gallery;let i=index">
          <ion-img src='assets/img/loading.gif' [style.display]="loaded ? 'none' : 'unset'"></ion-img>
          <ion-img [src]="banner" (ionImgDidLoad)="loaded = true" (ionImgWillLoad)="loaded = false"></ion-img>
          <ion-icon name="qr-scanner" size="large" color="success" style="position: absolute;bottom: 5%;left: 90%;"></ion-icon>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-item lines="none">
      <ion-avatar item-start>
        <img src="{{usta.img_profile}}" *ngIf="usta.img_profile" (click)="openProfile() ">
        <img src="assets/img/{{usta.sex}}.png" *ngIf="!usta.img_profile && usta.sex ">
        <img src="assets/img/male.png" *ngIf="!usta.img_profile && !usta.sex ">
      </ion-avatar>
      <ion-label text-center>
        <rating [rate]="usta.ustarate" readonly="true" size="small"></rating>
      </ion-label>
      <ion-badge color="danger" slot="end">{{usta.ustarate}} / 5 </ion-badge>
    </ion-item>
    <ion-segment [(ngModel)]="usta_segment" titleContent >
      <ion-segment-button color="medium" value="rating" mode="ios">
        تقييم
      </ion-segment-button>
      <ion-segment-button color="medium" value="contact" mode="ios">
        معلومات التواصل
      </ion-segment-button>
      <ion-segment-button color="medium" value="details" mode="ios">
        التفاصيل
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="usta_segment">
        <ion-list *ngSwitchCase="'details'" padding>
            <ion-item *ngIf="usta.hash_id" lines="full">
              <ion-label text-right>
                <h2>رقم الإعلان : <ion-text color="danger">{{usta.hash_id}}</ion-text>
                </h2>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.address" lines="full">
                <ion-label text-right text-warp>
                  <h2>العنوان</h2>
                  <p>{{usta.address}}</p>
                </ion-label>
              </ion-item>
            
            <ion-item *ngIf="usta.description" lines="full">
              <ion-label text-right>
                <h2>التخصص</h2>
                <p>{{usta.description}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.work_experience" lines="full">
              <ion-label text-right>
                <h2>خبرة في المجالات</h2>
                <p> {{usta.work_experience}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.locations?.length" lines="full">
              <ion-label text-right>
                <h2>مناطق تقديم الخدمات</h2>
                <span *ngFor="let location of usta.locations"> {{location.title_ar}} &nbsp;</span>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.workday?.length" lines="full">
              <ion-label text-right>
                <h2> أيام العمل </h2>
                <p> {{usta.workday}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.nationality" lines="full">
              <ion-label text-right>
                <h2>الجنسية</h2>
                <p>{{nationality[usta.nationality]}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.language?.length" lines="full">
              <ion-label text-right>
                <h2>اللغات</h2>
                <span *ngFor="let i of usta.language">
                  {{language[i]}} &nbsp;
                </span>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.price" lines="full">
              <ion-label text-right>
                <h2> التكلفة </h2>
                <p> {{usta.pricein}} / {{usta.price}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.guarantee" lines="full">
              <ion-label text-right>
                <h2> كفالة الخدمة</h2>
                <p> {{usta.guarantee}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.ustatype?.length" lines="full">
              <ion-label text-right>
                <h2> طبيعة العمل</h2>
                <p> {{usta.ustatype}}</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="usta.experienceyear" lines="full">
              <ion-label text-right>
                <h2> سنوات الخبرة</h2>
                <p> {{usta.experienceyear}}</p>
              </ion-label>
            </ion-item>
          </ion-list>

      <ion-list *ngSwitchCase="'contact'" padding>
        <ion-item *ngIf="usta.mobile" lines="full">
          <ion-badge color="medium" slot="start" (click)="copyNumber(usta.mobile)">نسخ الرقم<ion-icon name="copy">
            </ion-icon>
          </ion-badge>
          <ion-label text-center color="danger">
            <h2>رقم الجوال </h2>
          </ion-label>
          <ion-icon name="call" text-right></ion-icon>
        </ion-item>
        <ion-item *ngIf="usta.whatsappmobile" lines="full">
          <ion-badge color="medium" slot="start" (click)="copyNumber(usta.whatsappmobile)">نسخ الرقم<ion-icon
              name="copy"></ion-icon>
          </ion-badge>
          <ion-label text-center color="danger">
            <h2>رقم الواتس اب </h2>
          </ion-label>
          <ion-icon name="logo-whatsapp" text-right></ion-icon>
        </ion-item>
        <ion-item *ngIf="usta.email" lines="full">
          <ion-label>
            <p text-left>{{usta.email}}</p>
          </ion-label>
          <ion-badge color="medium" slot="end" (click)="copyEmail(usta.email)">
            <ion-icon name="mail"></ion-icon>
          </ion-badge>
        </ion-item>
        <ion-item *ngIf="usta.social" lines="full">
          <ion-label>
            <p>{{usta.social}} </p>
          </ion-label>
          <ion-badge color="medium" slot="end" (click)="copySocial(usta.social)">
            <ion-icon name="share"></ion-icon>
          </ion-badge>
        </ion-item>
      </ion-list>
      
      <ion-list *ngSwitchCase="'rating'">          
        <ion-item *ngIf="canRate" lines="full">
          <ion-button slot="start" expand="block" fill="outline" color="danger" (click)="ustarate()">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-icon name="thumbs-down"></ion-icon>
          </ion-button>
          <ion-label text-center>
            <h2>أضف تقييمك</h2>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="!canRate" lines="full">
          <ion-button slot="start" expand="block" fill="outline" color="medium" >
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-icon name="thumbs-down"></ion-icon>
          </ion-button>
          <ion-label text-center>
            <h2>قمت بتقييم هذا الحساب</h2>
          </ion-label>
        </ion-item>
          <ion-card *ngFor="let item of ratelist" mode="ios">
            <ion-card-content>
              <ion-card-title text-right>
                {{item.client}}
              </ion-card-title>
              <p text-right>
                {{item.message}}
              </p>
            </ion-card-content>
 
            <ion-row no-padding>
              <ion-col>
                  <ion-chip color="light" mode="ios" outline="true">
                <img src="assets/img/{{item.rate_value}}.png" style="width: 100%">
              </ion-chip>
              </ion-col>
              <ion-col text-right>
                  <ion-chip color="secondary" mode="ios">
                      <ion-icon name="calendar"></ion-icon>
                      <ion-label>{{item.created_at.seconds * 1000 | date:'dd-MM-yyyy'}}</ion-label>
                    </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card>
        
      </ion-list>
    </div>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-grid no-padding>
    <ion-row align-items-center>
      <ion-col align-self-center text-center>
        <ion-button fill="outline" size="small" color="success" (click)="shareWhatsApp()">
          <ion-icon name="share"></ion-icon>
          مشاركة
        </ion-button>
      </ion-col>
      <ion-col align-self-center>
        <ion-button expand="block" size="large" fill="outline" color="secondary" (click)="call(usta?.mobile)">
          <ion-icon name="call" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-button fill="outline" size="small" color="medium" (click)="addTofavorite()" *ngIf="!ustafavorite">
          <ion-icon name="heart-empty"></ion-icon>
          مفضلة
        </ion-button>
        <ion-button size="small" fill="outline" color="danger" (click)="removeFromfav()" *ngIf="ustafavorite">
          <ion-icon name="heart" color="danger"></ion-icon>
          مفضلة
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>