<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">USTA</ion-title>

     
  </ion-toolbar>
  <ion-grid class="ion-no-padding">
 
    <ion-row>
        <ion-col size="1" class="ion-no-padding ion-align-self-center ion-text-center">
            <ion-button (click)="search()">
                <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
              </ion-button>
          </ion-col>
      <ion-col size="7" >
        <ion-input type="text" style="width:200px;margin-left:30px" [(ngModel)]="searchT" clearInput placeholder="ابحث هنا ..." ></ion-input>
      </ion-col>
      <ion-col size="3">
      <ion-select text-right  [(ngModel)]="search_select">
          <ion-select-option value="name"  selected>الاسم</ion-select-option>
          <ion-select-option value="mobile">الموبايل</ion-select-option>
          <ion-select-option value="hash_id">رقم الاعلان</ion-select-option>
          </ion-select>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="ion-padding">
  <ion-item-group>
    <ion-item-divider>
      <ion-title class="ion-text-center" color="warning">{{totalServices}} الخدمات</ion-title>
    </ion-item-divider>
    <ng-container *ngIf="!services || services.length == 0">
      <ion-card mode="ios" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
        <ion-item detail="false" lines="full">
          <ion-label>
            <p>
              <ion-skeleton-text animated style="width: 80%;float: right;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="services && services.length > 0">
      <ion-card mode="ios" *ngFor="let item of services">
        <ion-item [routerLink]="['/ustas', item.id]" detail="false" lines="full">
          <ion-note color="medium" slot="start">( {{item.ustacount}} )</ion-note>
          <ion-label class="ion-text-center  ion-text-wrap" color="dark">
            <h2>{{item.section}}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button slot="icon-only">
              <ion-icon name="{{item.icon}}" color="primary"></ion-icon><br>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </ng-container>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-title class="ion-text-center" color="tertiary"> {{totalBusiness}} الشركات و المطاعم </ion-title>
    </ion-item-divider>
    <ng-container *ngIf="business && business.length > 0">
      <ion-card mode="ios" *ngFor="let item of business">
        <ion-item [routerLink]="['/restaurants-companies', item.id]" detail="false">
          <ion-note color="medium" slot="start">( {{item.ustacount}} )</ion-note>
          <ion-label class="ion-text-center ion-text-wrap" color="dark">
            <h2>{{item.section}}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button slot="icon-only">
              <ion-icon name="{{item.icon}}" color="tertiary"></ion-icon><br>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </ng-container>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-title class="ion-text-center" color="secondary"> سوق اوسطى </ion-title>
    </ion-item-divider>
    <ng-container *ngIf="usedShops && usedShops.length > 0">
      <ion-card mode="ios" *ngFor="let item of usedShops">
        <ion-item [routerLink]="['/used-shops', item.id]" detail="false">
          <ion-note color="medium" slot="start">( {{item.ustacount}} )</ion-note>
          <ion-label class="ion-text-center ion-text-wrap" color="dark">
            <h2>{{item.section}}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button slot="icon-only"> 
              <ion-icon name="{{item.icon}}" color="secondary"></ion-icon><br>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </ng-container>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-grid fixed class="footer ion-padding">
    <ion-row>
      <ion-col size="12">
        &nbsp;
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" size="small" [routerLink]="['/contact-us']">
      <ion-icon name="at"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" [routerLink]="['/new-usta']">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" [routerLink]="['/new-company']">
        <ion-icon name="business"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" [routerLink]="['/new-used-shop']">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" size="small" (click)="callUs()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>