<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text='' color="light" defaultHref="/dashboard">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>برنامج اوسطى</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content text-center>
      <p>
          تطبيق تفاعلي تنموي يخدم الاسر في تامين الفنيين لتقديم خدمات الصيانة سواء للمنزل او السيارة او المحل ، بالاضافة الى الخدمات القانونية و السياحية الاخرى
      </p><p>
          كما يوفر التطبيق للنساء اللواتي يرغبن في العمل داخل منازلهم ، كحضانة الاطفال او الطبخ المتزلي او صناعة الكيكات .
        </p>
        <br>
      <br>
        <p>
               يعد تطبيق اوسطى اول منصة تواصل مجانية تقدم  الخدمات المباشرة للعرب المقيمين في اسطنبول ، من خلال ربط مشتري الخدمة مع من يقدمها بشكل مباشر ودون اي سمسرة ،
      </p>
      <br>
      
    </ion-card-content>
  </ion-card>
</ion-content>